.soc_list{
    display: flex;
    gap: 20px;
    background-color: gray;
    padding: 40px;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.list_item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

